<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Redes -->
    <bean name="facebook" class="pe.isil.redes.Facebook"/>
    <bean name="instagram" class="pe.isil.redes.Instagram"/>
    <bean name="whatsApp" class="pe.isil.redes.WhatsApp"/>

    <bean name="isilapp" class="pe.isil.aplicacion.IsilApp">

        <constructor-arg name="redes" ref="whatsApp"/>

    </bean>
</beans>